.main {
  max-width: 400px;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: white;
}

h1 {
  color: blue;
}

ul li {
  cursor: pointer;
  user-select: none;

}

ul li span#task.completed {
color: grey;
text-decoration: line-through;
}

ul li span#trash {
}

